.container {
  background-image: url("../img/hottest-trends-in-technology-2014.jpg");
}

.jumbotron {
  text-align: center;
  color: yellow;
}

.trackDescriptions {
  display: none;
}


/*#javaCsharp {
  display: none;
}

#Php {
  display: none;
}

#python {
  display: none;
}

#ruby {
  display: none;
}
