.container {
  background-image: url("../img/ukraine.png");
}

.jumbotron {
  background-image: url("../img/hottest-trends-in-technology-2014.jpg");
  text-align: center;
}

.jumbotron img {
  border-radius: 50%;
}

.trackDescriptions {
  display: none;
}

.well {
  background-color: light yellow;
  text-align: center;
}

option {
  width: 50%;
  border-style: double;
}


/*#javaCsharp {
  display: none;
}

#Php {
  display: none;
}

#python {
  display: none;
}

#ruby {
  display: none;
}
